body {
  text-align: center;
  background-color: #D276FF;
}

#level-title {
  font-family: 'Lobster', cursive;
  font-size: 5.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid #ADFFFF;
  border-radius: 20%;
}

.game-over {
  background-color: #FF1400;
  opacity: 0.8;
}

.red {
  background-color: #FF3960;
}

.green {
  background-color: #31FF8D;
}

.blue {
  background-color: #67B1FF;
}

.yellow {
  background-color: #F9FF3F;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
